<div class="app">
  <div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm.value)" #formDirective="ngForm">
      <mat-form-field appearance="legacy">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Enter Author Name" formControlName="author" required type="text">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput placeholder="Enter Book Type" formControlName="type" required type="text">
      </mat-form-field>
      <br>
      <mat-form-field appearance="legacy">
        <mat-label>Cost</mat-label>
        <input matInput placeholder="Enter Cost (Number)" formControlName="cost" required type="number">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="!searchForm.valid">Submit</button>
      <button mat-raised-button color="accent" (click)="onClear($event, formDirective)">Clear</button>
    </form>
  </div>

  <div class="grid">
    <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id#</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author</th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Price ($)</th>
        <td mat-cell *matCellDef="let element"> {{element.cost | currency:'USD'}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
