.container {
  text-align: center;
}

table {
  margin-top: 20px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.mat-raised-button{
  margin: 5px;
}
